.ex-1-square{
  transition: 5s;
}

.ex-1-square:hover{
    background-color: red;
}

.ex-2-square{
  transition: width 2s;
}

.ex-2-square:active{
  width: 300px;
  height:100px;
}

.ex-3-square{
  transition: 5s;
}

.ex-3-square:hover{
  border-radius: 100px;
}

.ex-4-square{
  transition:5s;
}

.ex-4-square:hover{
  opacity:0;
}

.ex-5-square{
  transition:5s;
}

.ex-5-square:hover{
  width:150px;
  height:150px;
}

.ex-5-square:active{
  width:50px;
  height:50px;
}

.ex-6-img:hover{
  filter:greyscale(100%);
}
