.ex-1-square{
  transition: 5s;
}

.ex-1-square:hover{
    background-color: red;
}

.ex-2-square{
  transition: width 2s;
}

.ex-2-square:active{
  width: 300px;
  height:100px;
}

.ex-3-square{
  transition: 5s;
}

.ex-3-square:hover{
  border-radius: 100px;
}

.ex-4-square{
  transition:5s
}

.ex-4-square:hover{
  opacity:0;
}

